<div>
    <h1  id="head" >CONTACT</h1>
    <div>
    <img style="width:  50px;" src="images\phon.jpg"> 
    phone: 052- 6157457
    <br>
    <br>
    <br>
    <img style="width:  50px;" src="images\email.jpg"> 
    e-mail: T&L_FLOWERS@gmail.com
    </div>
    </div>